Server/Service References/AbonentServNamespace/AbonentService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbonentService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbonentService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbonent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Abonent" nillable="true" type="tns:Abonent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbonent" nillable="true" type="tns:ArrayOfAbonent" />
  <xs:complexType name="Abonent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneOperatorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Abonent" nillable="true" type="tns:Abonent" />
</xs:schema>