Server/Service References/AbonentServNamespace/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AbonentServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AbonentService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAbonentServiceClass_GetAbonents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonents" />
  </wsdl:message>
  <wsdl:message name="IAbonentServiceClass_GetAbonents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAbonentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAbonentServiceClass_IncreaseSaldo_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseSaldo" />
  </wsdl:message>
  <wsdl:message name="IAbonentServiceClass_IncreaseSaldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAbonentServiceClass">
    <wsdl:operation name="GetAbonents">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbonentServiceClass/GetAbonents" message="tns:IAbonentServiceClass_GetAbonents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbonentServiceClass/GetAbonentsResponse" message="tns:IAbonentServiceClass_GetAbonents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseSaldo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbonentServiceClass/IncreaseSaldo" message="tns:IAbonentServiceClass_IncreaseSaldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbonentServiceClass/IncreaseSaldoResponse" message="tns:IAbonentServiceClass_IncreaseSaldo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAbonentServiceClass" type="tns:IAbonentServiceClass">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAbonents">
      <soap:operation soapAction="http://tempuri.org/IAbonentServiceClass/GetAbonents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseSaldo">
      <soap:operation soapAction="http://tempuri.org/IAbonentServiceClass/IncreaseSaldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbonentServiceClass">
    <wsdl:port name="BasicHttpBinding_IAbonentServiceClass" binding="tns:BasicHttpBinding_IAbonentServiceClass">
      <soap:address location="http://localhost:9920/WcfBasicService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>