Client/Service References/ServerSessionFasadeNamespace/Server.DataModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OperatorService.Model" />
  <xs:complexType name="ArrayOfAbonentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbonentData" nillable="true" type="tns:AbonentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbonentData" nillable="true" type="tns:ArrayOfAbonentData" />
  <xs:complexType name="AbonentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OperatorService.Model" minOccurs="0" name="PhoneOperatorData" nillable="true" type="q1:PhoneOperatorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbonentData" nillable="true" type="tns:AbonentData" />
</xs:schema>